<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html lang="en" ng-app="CDE" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CDE 2015</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="app.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="assets/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
</head>
<body>
  <a href="#menu" id="menuLink" class="menu-link"><span></span></a>
  <div id="menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="index.html" class="pure-menu-heading">
        <img id="logo" src="assets/img/logo.png">
        <span class="en">CDE 2015</span>
        <span class="fr">CDI 2015</span>
      </a>

      <ul>
	  <li><a href="about.html" class="en <%= current.source=='about'?'selected':'' %>">About</a></li>
    <li><a href="about.html" class="fr <%= current.source=='about'?'selected':'' %>">A Propos</a></li>
	  <li><a href="delegates.html" class="en <%= current.source=='delegates'?'selected':'' %>">Delegates</a></li>
    <li><a href="delegates.html" class="fr <%= current.source=='delegates'?'selected':'' %>">Délégués</a></li>
    <!--<li><a href="schedule.html" class="<%= current.source=='schedule'?'selected':'' %>">Schedule</a></li>-->
	  <li><a href="sponsors.html" class="en <%= current.source=='sponsors'?'selected':'' %>">Sponsors</a></li>
    <li><a href="sponsors.html" class="fr <%= current.source=='sponsors'?'selected':'' %>">Commanditaires</a></li>
	  <li><a href="contact.html" class="en <%= current.source=='contact'?'selected':'' %>">Contact</a></li>
    <li><a href="contact.html" class="fr <%= current.source=='contact'?'selected':'' %>">Contactez nous</a></li>
      </ul>
    <ul id="languages">
    <li><a id="english" class="selected">English</a></li>
    <li><a id="francais">Français</a></li>
      </ul>
    </div>
  </div>

  <div id="background"></div>
  <div id="view">
    <%- yield %>
  </div>
</body>
</html>
